.incontainer {
    padding: 10px;
    margin: 2% 7%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #272E30;
    gap: 20px;
}
.section {
    display: flex;
    flex-direction: column;
    border: #26A17B 1px solid;
}
.button{
    width: 50%;
    display: flex; /* Butonlar arasında boşluk bırakır */
    margin-top: 10px;
}
.card {
    background-color: #3A4547;
    padding: 15px;
    border-radius: 5px;
}
.revenueBar {
    width: 100%;
    height: 30px;
    background-color: #272E30;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.developerShare {
    height: 100%;
    background-color: #4949FB; /* Developer rengi */
    text-align: center;
    color: white;
    line-height: 30px;
}

.communityShare {
    height: 100%;
    background-color: #26A17B; /* Community rengi */
    text-align: center;
    color: white;
    line-height: 30px;
}

.sell {
    background-color: #EF5350;
    cursor: pointer;

}
.buy {
    background-color: #26A17B;
    cursor: pointer;
}

.route {
    margin: 0 7%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.route p {
    font-weight: 700;
    cursor: pointer;
}