.containerMain {
    padding: 10px;
    margin: 2% 7%;
}

.mission {
    display: flex;
    flex-direction: column;
}
.mission li {
    list-style: circle;
    font-weight: 300;
    font-size: 15px;
}

.containerMain h2 {
    font-weight: 700;
}